<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Bem-vindo ao Blog do Node!</h1>
    <p class="lead">Este é um blog simples desenvolvido com Node js + Express + MongoDB.</p>
    <hr class="my-4">
    <p>Aqui você pode ter as novidades do mundo da computação.</p>

    <hr>
    <h2>Postagens recentes</h2>

    {{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}" class="btn btn-success">Leia mais</a> 
            <hr>
            <small>Categoria: </small>
            <small>{{categoria.nome}}</small> <br>
            <small>Data de publicação:  {{#formatDate categoria.date}}{{/formatDate}}</small>

       
        </div>
    </div>
    {{else}}
        <p>Nenhuma postagem registrada!</p>
    {{/each}}

</div>