   <h1>{{categoria.nome}}</h1>
   
   {{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}" class="btn btn-success">Leia mais</a> 
            <hr>
            <small>Data de publicação {{#formatDate postagem.data}}{{/formatDate}}A MULHER DO MEU VIZINHO DO 8o ANDAR VIAJOU E EU CHAMEI ELE PRO MEU APÊ - completo no RED e editado por TransBrazil 5 minutos 1080p
</small>
            
        </div>
    </div>
    {{else}}
        <p>Nenhuma postagem registrada!</p>
    {{/each}}